header{text-align: center;
    font-weight: bold;
    font-style: italic;
}
h1{display:inline;
    vertical-align: middle;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: auto;
}

.card {
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: left;
}
    footer{
    text-align: center;
    font-size: 0.9em;
    color: #1d0d59;
    padding:100px;
    margin-top: 20px;
    font-weight: bold;
    bottom:0;
    width:100%;
    ;
} 





    
    


     